# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src-tauri/build
/src-tauri/Python314
/src-tauri/__pycache__
/~
src/juzo.html
src/juzo.css
src/juzo.js
/src-tauri/model
src-tauri/juzo.py
/src-tauri/saved-hashes
/src-tauri/hashes

# Python
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
